#about-content {
    margin: 8vh 7vh 0 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vh;
}

.words {
    width: 60vh;
    font-size: 20px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-6vh);
}

.profile-picture {
    border-radius: 50%;
    margin-bottom: 2vh;
}

.mobile-tabs {
    display: none;
}

.old-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 8vh;
}

.old-link a {
    background-color: #f97316;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 1vh 9vh;
    border-radius: 3vh;
}

.old-link a:hover {
    padding: 1vh 3vh;
}

@media only screen and (max-width: 768px) {
    #about-content {
        display: block;
    }
    #about-content .words {
        width: 100%;
    }
    .profile-card {
        display: none;
    }
    .mobile-tabs {
        display: flex;
        justify-content: center;
        margin-top: 8vh;
        margin-bottom: 8vh;
        gap: 3vh;
    }
    .mobile-tabs a {
        background-color: #6ee7b7;
        padding: 1vh 5vh;
        color: black;
        border-radius: 3vh;
        font-size: 22px;
    }
    #link-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8vh;
    }
}
